@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Memastikan semua elemen dasar bisa menjadi wadah setinggi layar */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  scroll-behavior: smooth;
}
